body {
  font-size: .95em;
  max-width: 600px;
  margin: 70px auto;
}

h3 {
  color: red;
}

table {
  border: 2px solid lightgray;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

th {
  text-align: center;
}

td {
  text-align: left;
}

.even {
  text-align: right;
}

tr:nth-child(even) {
  background-color: #D3E8D3;
}

#bullet1 {
  list-style-type: circle;
}

#bullet2 {
  list-style-type: square;
}

#border {
  border-style: double;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  border-width: 6px;
}
