/*body, header, h1, p, ul {
  margin: 0;
  padding: 0;
}*/

body {
  margin-top: 0;
  font-size: .95em;
}

#indent {
  margin-left: 40px;
}

h3 {
  color: red;
}

table {
  border: 2px solid lightgray;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

th {
  text-align: center;
}

td {
  text-align: left;
}

.even {
  text-align: right;
}

tr:nth-child(even) {
  background-color: #D3E8D3;
}

#border {
  border-style: double;
  border-radius: 20px;
  padding: 10px;
